# Pre-processing dataset
Author : Vishnuchandra mc CSB Roll no:45

**Here is the process of merging all the cleaned CSV files into a single final dataset.**

In [1]:
import pandas as pd
import glob, os, time
import helper

step1 : Fetching the cleaned data from directory

In [2]:
helper.clean_niti_data('./CSV/')

Processed 15 files in 0.4238600730895996 seconds

In [3]:
files = glob.glob('./PROCESSED/*.csv')

## Reading all the files

In [4]:
data = pd.read_csv('CSV/GDPALL.csv')

In [8]:
data

,Unnamed: 0,States,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19,2019-20
0,NaN,Andaman and Nicobar Islands,181264.0,204420.0,253839.0,298977.0,347985.0,411965.0,434314.0,499389.0,563253.0,614960.0,121904.0,603173.0,683586.0,787093.0,884646.0,-
1,NaN,Andhra Pradesh,13476688.0,14760642.0,17406428.0,21236071.0,23738349.0,27332661.0,31986394.0,36224493.0,41006812.0,46418355.0,52002992.0,60422862.0,68441587.0,79318607.0,86295708.0,97278211.0
2,NaN,Arunachal Pradesh,348751.0,375515.0,410799.0,481000.0,568732.0,747445.0,902144.0,1077478.0,1183601.0,1354546.0,1558805.0,1850916.0,1984543.0,2243247.0,2460288.0,-
3,NaN,Assam,5339771.0,5938458.0,6469221.0,7107619.0,8107367.0,9597457.0,11268796.0,12590307.0,13840087.0,15946032.0,18379759.0,22795883.0,25438236.0,28316489.0,31588121.0,-
4,NaN,Bihar,7778116.0,8249020.0,10073714.0,11367995.0,14227912.0,16292294.0,20355499.0,24326902.0,29361593.0,34366279.0,40228299.0,37160179.0,42105150.0,46874631.0,53036346.0,61180415.0
5,NaN,Chandigarh,850404.0,1018549.0,1227608.0,1366851.0,1533383.0,1757657.0,2001388.0,2282584.0,2504642.0,2907550.0,-,2927508.0,3242667.0,3687002.0,4211386.0,-
6,NaN,Chhattisgarh,4786229.0,5338110.0,6687489.0,8025511.0,9697218.0,9936426.0,11941976.0,14438220.0,16564120.0,18568248.0,21019179.0,22516253.0,25088174.0,27404201.0,30406288.0,32918023.0
7,NaN,Delhi,10032452.0,11537425.0,13558365.0,15794718.0,18953312.0,21761858.0,25275279.0,28710688.0,33491471.0,39112480.0,45115365.0,55080370.0,61608506.0,68682358.0,77487033.0,85611232.0
8,NaN,Goa,1271331.0,1432661.0,1652284.0,1956496.0,2541383.0,2912554.0,3360536.0,4325451.0,4240747.0,4889731.0,-,5505385.0,6297631.0,6935205.0,7317036.0,-
9,NaN,Gujarat,20337300.0,24473600.0,28369300.0,32928500.0,36791200.0,43126200.0,52151888.0,59878552.0,65854041.0,76563781.0,-,102900974.0,116715558.0,132909477.0,150289929.0,-
10,NaN,Haryana,9579512.0,10888457.0,12873234.0,15159590.0,18252215.0,22360025.0,26062128.0,29868833.0,34135116.0,38891663.0,-,49550411.0,56161005.0,64959177.0,73416282.0,83161021.0
11,NaN,Himachal Pradesh,2407658.0,2712735.0,3027427.0,3396254.0,4148310.0,4818859.0,5745226.0,6495745.0,7371003.0,8258534.0,-,11423941.0,12563365.0,13835106.0,15384480.0,16547239.0
12,NaN,Jammu and Kashmir,2730462.0,2991985.0,3323011.0,3709863.0,4231484.0,4838451.0,5807257.0,6818513.0,7691647.0,8756991.0,8792138.0,11716795.0,12484800.0,13923972.0,15595616.0,-
13,NaN,Jharkhand,5975772.0,6090054.0,6693475.0,8394959.0,8779393.0,10062068.0,12728105.0,13561793.0,15165470.0,17277261.0,19751431.0,20661280.0,23624972.0,26981614.0,29720373.0,32859801.0
14,NaN,Karnataka,16674713.0,19590407.0,22723706.0,27062879.0,31031233.0,33755850.0,41070316.0,45521235.0,52267274.0,61460704.0,70213121.0,104516810.0,120913635.0,135757905.0,154439882.0,169911533.0
15,NaN,Kerala,11926400.0,13684176.0,15378488.0,17514108.0,20278279.0,23199867.0,26377330.0,31267716.0,34784078.0,39628246.0,-,56199361.0,63488640.0,70157738.0,78165326.0,-
16,NaN,Madhya Pradesh,11292689.0,12427599.0,14457681.0,16147939.0,19727620.0,22755664.0,26339573.0,30515816.0,36127033.0,43472988.0,50800607.0,54106751.0,64982281.0,72472886.0,80959172.0,90667179.0
17,NaN,Maharashtra,41547969.0,48676562.0,58449766.0,68481658.0,75396915.0,85575051.0,104915008.0,117012126.0,132222235.0,151013214.0,168669475.0,196622458.0,219832375.0,238257029.0,263279231.0,-
18,NaN,Manipur,513336.0,571758.0,613722.0,678253.0,739936.0,825426.0,913719.0,1108358.0,1269665.0,1432369.0,-,1953067.0,2129389.0,2578923.0,2786871.0,-
19,NaN,Meghalaya,655933.0,726515.0,862518.0,973473.0,1161704.0,1270911.0,1458256.0,1719857.0,1900906.0,2192207.0,2533341.0,2511736.0,2743862.0,2950830.0,3348064.0,3657181.0
20,NaN,Mizoram,268197.0,297115.0,328998.0,381551.0,457711.0,525985.0,638788.0,688975.0,836292.0,1029698.0,-,1513886.0,1719191.0,1874024.0,1951991.0,-
21,NaN,Nagaland,583884.0,658768.0,725665.0,807495.0,943607.0,1052677.0,1175937.0,1385934.0,1567638.0,1774932.0,2009914.0,1952395.0,2172245.0,2449170.0,2728304.0,-
22,NaN,Odisha,7772943.0,8509649.0,10183947.0,12927445.0,14849071.0,16294643.0,19752990.0,22058927.0,25122046.0,27297992.0,31081024.0,32854950.0,39270844.0,44051724.0,49222925.0,53137359.0
23,NaN,Puducherry,575371.0,797723.0,833511.0,925143.0,1005005.0,1230437.0,1309160.0,1466146.0,1679534.0,2107703.0,2581935.0,2661654.0,2957266.0,3296211.0,3665643.0,4080174.0
24,NaN,Punjab,9683851.0,10863668.0,12712291.0,15224532.0,17403913.0,19749981.0,22620407.0,25637378.0,28511933.0,31755647.0,34982574.0,39008744.0,42698810.0,47083389.0,52637649.0,57476045.0
25,NaN,Rajasthan,12774565.0,14223614.0,17104273.0,19482214.0,23094932.0,26582485.0,33834843.0,41417889.0,47017838.0,51761454.0,57454860.0,68148226.0,76074956.0,83517043.0,94258604.0,102098909.0
26,NaN,Sikkim,173915.0,199290.0,216122.0,250609.0,322908.0,613276.0,741157.0,890664.0,1047260.0,1237669.0,-,1803394.0,2068719.0,2597082.0,2872344.0,3249599.0
27,NaN,Tamil Nadu,21900322.0,25783345.0,31052573.0,35081864.0,40133605.0,47973342.0,58489626.0,66720168.0,74485915.0,85423816.0,97670288.0,117650003.0,130263858.0,146505091.0,163020775.0,184585331.0
28,NaN,Telangana,8994628.0,10833479.0,12697070.0,15245199.0,18938194.0,20350833.0,26389774.0,30562242.0,34708203.0,39175126.0,43059936.0,57790206.0,65832534.0,75312665.0,86103090.0,96960409.0
29,NaN,Tripura,890353.0,982602.0,1091423.0,1179707.0,1357264.0,1540270.0,1786773.0,1997391.0,2269707.0,2680959.0,-,3593773.0,3947940.0,4371580.0,4984547.0,5535808.0
30,NaN,Uttar Pradesh,26084066.0,29317167.0,33631679.0,38302552.0,44468486.0,52339418.0,60028572.0,68549644.0,78039860.0,86274591.0,97629654.0,113780794.0,129028933.0,146044273.0,166822924.0,179450788.0
31,NaN,Uttarakhand,2478567.0,2996753.0,3679542.0,4585567.0,5602476.0,7073005.0,8396911.0,9785772.0,10824979.0,12289724.0,13872254.0,17716301.0,19512484.0,22283604.0,24589460.0,NaN

In [13]:
datas = [pd.read_csv(file) for file in files]

In [14]:
datas[0].tail()

,State,1980-81,1981-82,1982-83,1983-84,1984-85,1985-86,1986-87,1987-88,1988-89,...,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17
27,Uttarakhand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1100.0,1190.0,1340.0,1480.0,1770.0,2090.0,2060.0,2405.610900,3102.4913,3896.0580
28,West Bengal,108.9,117.0,169.8,184.3,244.2,274.9,333.5,394.1,448.9,...,11380.0,12070.0,13310.0,13820.0,15900.0,17570.0,20760.0,21587.987000,23816.6384,26196.9069
29,All States,1225.5,1440.4,1705.4,1963.6,2466.5,2939.7,4100.8,4897.7,5935.2,...,99830.0,102950.0,112810.0,124820.0,136820.0,150470.0,168900.0,190415.229747,216805.1568,254248.5794
30,Delhi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2500.0,2510.0,2470.0,2580.0,2920.0,2860.0,2820.0,2773.998400,2809.8100,3394.8100
31,Puducherry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,220.0,260.0,290.0,330.0,390.0,450.0,480.0,537.944200,553.5435,596.7825

Here we can see that the datas containing missing values.The Data was given for 29 states and 2 Union Territories, from the year 1981 to 2016, some of the data was missing for some of the states, due to the fact that the data was started to be collected at a later period of time, or maybe the state wasn’t even formed in that year, such years need to remove from the data by using remove NA’s in python pandas.

In [7]:
del datas  #datas created only to show the missing values

## Making the Data Set

Next step is making the data set from remaining 13 files. For this we fetched all the datasets at a time.

In [9]:
files = glob.glob('./PROCESSED/*.csv')
files

['./PROCESSED/Interest_Payments.csv',
 './PROCESSED/Aggregate_Expenditure.csv',
 './PROCESSED/Aggregate_Receipts.csv',
 './PROCESSED/Capital_Expenditure.csv',
 './PROCESSED/Capital_Receipts.csv',
 './PROCESSED/Fiscal_Deficits.csv',
 './PROCESSED/Nominal_GSDP_Series.csv',
 './PROCESSED/Outstanding_Liabilities.csv',
 './PROCESSED/Own_Tax_Revenues.csv',
 './PROCESSED/Revenue_Deficits.csv',
 './PROCESSED/Revenue_Expenditure.csv',
 './PROCESSED/Revenue_Receipts.csv',
 './PROCESSED/Social_Sector_Expenditure.csv']

In [9]:
#Storing in a List
feature_files = ['./PROCESSED/Capital_Receipts.csv',
 './PROCESSED/Aggregate_Receipts.csv',
 './PROCESSED/Social_Sector_Expenditure.csv',
 './PROCESSED/Interest_Payments.csv',
 './PROCESSED/Own_Tax_Revenues.csv',
 './PROCESSED/Fiscal_Deficits.csv',
 './PROCESSED/Outstanding_Liabilities.csv',
 './PROCESSED/Aggregate_Expenditure.csv',
 './PROCESSED/Revenue_Receipts.csv',
 './PROCESSED/Revenue_Expenditure.csv',
 './PROCESSED/Revenue_Deficits.csv',
 './PROCESSED/Capital_Expenditure.csv']

In [10]:
target_file = './PROCESSED/Nominal_GSDP_Series.csv'

## Features File

* Next step is setting feature values in the 13 csv files.
* filename is splicing from the extenstion and using as feature for resultant CSV

In [11]:
finalDF = pd.DataFrame()
for file in feature_files:
    colname = os.path.splitext(os.path.basename(file))[0]
    
    mydata = pd.read_csv(file)
    mydata = mydata.drop(29)
    series = pd.Series([],dtype=pd.StringDtype()) 
    for col in mydata.iloc[:, 1:-1]:
        series = series.append(pd.Series(mydata[col].values), ignore_index=True)
    finalDF[colname] = series

In [12]:
finalDF.head()

,Capital_Receipts,Aggregate_Receipts,Social_Sector_Expenditure,Interest_Payments,Own_Tax_Revenues,Fiscal_Deficits,Outstanding_Liabilities,Aggregate_Expenditure,Revenue_Receipts,Revenue_Expenditure,Revenue_Deficits,Capital_Expenditure
0,325.0,1590.0,532.0,81.7,582.0,222.1,81.50,1610.0,1265.0,1161.0,-104.0,449.0
1,NaN,NaN,NaN,NaN,NaN,NaN,2.80,NaN,NaN,NaN,NaN,NaN
2,187.0,709.0,171.0,30.0,66.0,-27.4,43.41,758.0,522.0,357.0,-165.0,401.0
3,702.0,1690.0,452.0,107.1,277.0,335.8,106.33,1791.0,988.0,929.0,-59.0,862.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Creation target CSV files

Process of merging resultant dataset into a single dataset

In [13]:
file = target_file
colname = os.path.splitext(os.path.basename(file))[0]

mydata = pd.read_csv(file)
mydata = mydata.drop(31)

series = pd.Series([],dtype=pd.StringDtype())
for col in mydata.iloc[:, 1:-1]:
    series = series.append(pd.Series(mydata[col].values), ignore_index=True)

finalDF[colname] = series

In [14]:
finalDF.head()

,Capital_Receipts,Aggregate_Receipts,Social_Sector_Expenditure,Interest_Payments,Own_Tax_Revenues,Fiscal_Deficits,Outstanding_Liabilities,Aggregate_Expenditure,Revenue_Receipts,Revenue_Expenditure,Revenue_Deficits,Capital_Expenditure,Nominal_GSDP_Series
0,325.0,1590.0,532.0,81.7,582.0,222.1,81.50,1610.0,1265.0,1161.0,-104.0,449.0,8191.0
1,NaN,NaN,NaN,NaN,NaN,NaN,2.80,NaN,NaN,NaN,NaN,NaN,107.0
2,187.0,709.0,171.0,30.0,66.0,-27.4,43.41,758.0,522.0,357.0,-165.0,401.0,2516.0
3,702.0,1690.0,452.0,107.1,277.0,335.8,106.33,1791.0,988.0,929.0,-59.0,862.0,7353.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

So here we created the target merged dataset. But still it contains null values, so we need to remove all null values to make a perfect dataset for future use

## Removing Null values

In [15]:
finalDF = finalDF.dropna()

In [16]:
finalDF.head()

,Capital_Receipts,Aggregate_Receipts,Social_Sector_Expenditure,Interest_Payments,Own_Tax_Revenues,Fiscal_Deficits,Outstanding_Liabilities,Aggregate_Expenditure,Revenue_Receipts,Revenue_Expenditure,Revenue_Deficits,Capital_Expenditure,Nominal_GSDP_Series
0,325.0,1590.0,532.0,81.7,582.0,222.1,81.50,1610.0,1265.0,1161.0,-104.0,449.0,8191.0
2,187.0,709.0,171.0,30.0,66.0,-27.4,43.41,758.0,522.0,357.0,-165.0,401.0,2516.0
3,702.0,1690.0,452.0,107.1,277.0,335.8,106.33,1791.0,988.0,929.0,-59.0,862.0,7353.0
6,345.0,1370.0,406.0,68.6,531.0,246.5,80.76,1442.0,1025.0,903.0,-122.0,539.0,7427.0
7,116.0,576.0,137.0,37.0,234.0,112.0,30.76,607.0,460.0,401.0,-59.0,207.0,3386.0

Now we need to store this preprocessed datas into a NITI_DATA.csv file

In [17]:
finalDF.to_csv('NITI_DATA.csv', index=False)

In [18]:
finalDF

,Capital_Receipts,Aggregate_Receipts,Social_Sector_Expenditure,Interest_Payments,Own_Tax_Revenues,Fiscal_Deficits,Outstanding_Liabilities,Aggregate_Expenditure,Revenue_Receipts,Revenue_Expenditure,Revenue_Deficits,Capital_Expenditure,Nominal_GSDP_Series
0,325.0,1590.0,532.0,81.7,582.0,222.1,81.50,1610.0,1265.0,1161.0,-104.0,449.0,8191.0
2,187.0,709.0,171.0,30.0,66.0,-27.4,43.41,758.0,522.0,357.0,-165.0,401.0,2516.0
3,702.0,1690.0,452.0,107.1,277.0,335.8,106.33,1791.0,988.0,929.0,-59.0,862.0,7353.0
6,345.0,1370.0,406.0,68.6,531.0,246.5,80.76,1442.0,1025.0,903.0,-122.0,539.0,7427.0
7,116.0,576.0,137.0,37.0,234.0,112.0,30.76,607.0,460.0,401.0,-59.0,207.0,3386.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,22914.0,68263.0,20141.0,9100.0,18860.0,10080.0,4067.40,59839.0,45349.0,46617.0,1268.0,13222.0,293172.0
802,2445.0,7982.0,2781.0,810.0,1790.0,1880.0,390.10,7664.0,5537.0,5611.0,74.0,2053.0,29968.0
803,19349.0,43075.0,11445.0,9750.0,10390.0,9600.0,3056.20,40587.0,23726.0,31117.0,7391.0,9471.0,230245.0
804,10844.0,21688.0,4566.0,1670.0,8940.0,-250.0,353.00,11142.0,10844.0,6515.0,-4328.0,4626.0,115374.0
805,1802.0,3604.0,797.0,170.0,480.0,280.0,76.00,2173.0,1802.0,1794.0,-7.0,379.0,7977.0

* So far we done preprocessing or cleaning the data and making feature sets for the future use.Our next step is selecting the effective machine learning model or deep learning model which gives accurate output.
* Train and test data splitting
* Prediction
* Tuning it for increasing the accuracy
* Final conclusion

In [20]:
finalDF.describe().T

,count,mean,std,min,25%,50%,75%,max
Capital_Receipts,660.0,2428.893939,4110.573309,-5116.00,238.7500,811.50,2583.750,37639.0
Aggregate_Receipts,660.0,7791.672727,10883.932609,38.00,1143.5000,3191.50,9882.000,72074.0
Social_Sector_Expenditure,660.0,2623.565152,3470.775608,9.00,381.2500,1114.00,3512.000,24268.0
Interest_Payments,660.0,1060.228030,1757.027349,0.00,81.7000,290.00,1240.000,11870.0
Own_Tax_Revenues,660.0,2604.877273,4224.076558,0.00,90.0000,879.50,3174.750,33540.0
Fiscal_Deficits,660.0,1630.949848,2688.436374,-360.00,159.9500,517.00,1736.150,18620.0
Outstanding_Liabilities,660.0,417.522303,596.079415,1.42,49.6725,177.21,505.725,4067.4
Aggregate_Expenditure,660.0,7663.422727,10658.752422,43.00,1175.5000,3078.50,9737.250,72668.0
Revenue_Receipts,660.0,5362.778788,7044.667651,37.00,892.5000,2347.50,7210.750,48438.0
Revenue_Expenditure,660.0,6022.030303,8317.578141,30.00,864.0000,2275.50,7755.000,52280.0
Revenue_Deficits,660.0,659.255455,1824.575250,-4328.00,-62.3750,41.25,594.675,18583.0
Capital_Expenditure,660.0,1641.445455,2554.712652,13.00,289.5000,797.00,1851.750,21622.0
Nominal_GSDP_Series,660.0,37596.312121,57944.592770,52.00,2963.0000,14311.00,44635.000,486766.0

Now this data is ready for future use!